*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(4, 4, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
form{
    background-color: rgb(27, 27, 150);
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 0 20px rgba, 0, rgb(22, 22, 34), ;
    text-align: center;
    
}
form{
    font-size: 30px;
    color: white;
    margin-bottom: 35px;
}
input{
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid rgb(115, 152, 219);
    margin-bottom: 30px;
    outline: none;
    color: white;
    font-size: 16px;

}
::placeholder{
    color:aliceblue
}

.btn{
    background-color: dodgerblue;
    border: 2px solid dodgerblue; 
}
.btn :hover{
    background-color: rgb(191, 215, 240);
    border: 2px solid rgb(191, 215, 240);
}
@media(max-whidth:991px){
    
    body {
        padding: 30px;
    }
    form {
        width: 340px;
    }
}